<h1> listing all todo</h1>

<p>
 <%= link_to "Creat a Todo", new_todo_path %>
</p>

<table>
<tr>

  <th>Name</th>
  <th>Description</th>
</tr>
<% @todos.each do |todo| %>
<tr>
  <td><%= todo.name %></td>
  <td><%= todo.desc%></td>
  <td><%= link_to "Edit", edit_todo_path(todo) %></td>
  <td><%= link_to "Show", todo_path(todo) %></td>
  <td><%= link_to "Delete", todo_path(todo), method: :delete, data:{confirm: "Are you sure ?"} %></td>
</tr>
<% end %>
</table>
