<h1> Showing the todo</h1>
<p>
Name: <%= @todo.name%>
</p>
<p>
Description: <%= @todo.desc%>
</p>

<td><%= link_to "Edit this todo", edit_todo_path(@todo) %></td>
<td><%= link_to "Back to listing", todos_path %></td>
