<% if  @todo.errors.any? %>
<h3>The following errors has accorded </h3>
<ul>
<%  @todo.errors.full_messages.each do |msg| %>
  <li> <%= msg  %>
  <% end %>
</ul>
<% end %>
<%= form_for @todo do |f| %>
 <p>
   <%= f.label :name %><br>
   <%= f.text_field :name %>
 </p>
 <p>
   <%= f.label :desc %><br>
   <%= f.text_area :desc %>
 </p>
 <p>
   <%= f.submit %>
 </p>
 <% end %>
 <%= link_to "Back to listing", todos_path %> 
